{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <!-- Latest Posts -->
            <main class="posts-listing col-lg-8">
                <div class="container">
                    <div class="row">
                        {% for post in post_list %}
                            <!-- post -->
                            <div class="post col-xl-6">
                                <div class="post-thumbnail"><a href="{{ post.get_absolute_url }}"><img src="{{ post.thumbnail.url }}" alt="..." class="img-fluid"></a></div>
                                <div class="post-details">
                                    <div class="post-meta d-flex justify-content-between">
                                        <div class="date meta-last">{{ post.timestamp|date:'d'}} {{ post.timestamp|date:'M'}} | {{ post.timestamp|date:'Y'}}</div>
                                        <div class="category">
                                            {% for category in post.categories.all %}
                                                <a href="{{ category.get_absolute_url }}">{{ category.title }}</a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <a href="{{ post.get_absolute_url }}"><h3 class="h4">{{ post.title }}</h3></a>
                                    <p class="text-muted">{{ post.overview|truncatewords_html:15 }}</p>
                                    <footer class="post-footer d-flex align-items-center">
                                        <a href="#" class="author d-flex align-items-center flex-wrap">
                                            <div class="avatar"><img src="{{ post.author.image.url }}" alt="..." class="img-fluid"></div>
                                            <div class="title"><span>{{ post.author }}</span></div>
                                        </a>
                                        <div class="date"><i class="icon-clock"></i> {{ post.timestamp|timesince}} ago</div>
                                        <div class="comments meta-last"><i class="icon-comment"></i>{{ post.comment_count}}</div>
                                    </footer>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <!-- Pagination -->
                    <nav aria-label="Page navigation example">
                        <ul class="pagination pagination-template d-flex justify-content-center">
                            {% if post_list.has_previous %}
                                <li class="page-item"><a href="?{{ page_request_variable }}={{ post_list.previous_page_number }}" class="page-link"> <i class="fa fa-angle-left"></i></a></li>
                                <li class="page-item"><a href="?{{ page_request_variable }}={{ post_list.number|add:-1 }}" class="page-link active">{{ post_list.number|add:-1 }}</a></li>
                            {% endif %}
                            <li class="page-item"><a href="?{{ page_request_variable }}={{ post_list.number }}" class="page-link active">{{ post_list.number }}</a></li>
                            {% if post_list.has_next %}
                                <li class="page-item"><a href="?{{ page_request_variable }}={{ post_list.number|add:1 }}" class="page-link active">{{ post_list.number|add:1 }}</a></li>
                                <li class="page-item"><a href="?{{ page_request_variable }}={{ post_list.next_page_number }}" class="page-link"> <i class="fa fa-angle-right"></i></a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </main>
            <aside class="col-lg-4">
                {% include 'sidebar.html' %}
            </aside>
        </div>
    </div>
{% endblock content %}